body{
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-thumb {
    background: #000000;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

.main{
    /* padding-top: 40px; */
    color: black;
    font-size: 50px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    justify-content: space-between;
    width: 100vw;
}

.addphoto{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    padding: 0 0 0 10px;
}

.photos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    width: 80%;
    margin: auto;
}

.photo{
    width: 200px;
    height: 200px;
    
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}